/* Dashboard */
main.dashboard{
    /* width: 88%; */
    width: 60vw;
    height: 80vh;
    /* border: 1px solid red; */
    /* background: #f0f0f0; */
    position: fixed;
    bottom: 0;
    right: 0;
}

main.dashboard.loginsuccess{
    animation: fulldashboard 1s ease forwords;
}

@keyframes fulldashboard {
    0%{
        width: 60vw;
    }
    100%{
        width: 88.2vw;
    }
}